# Compiled Object files
*.slo
*.lo
*.log
*.tlog
*.o
*.obj
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.sdf
*.suo
*.ilk
*.opensdf
*.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#others
*.vcxproj.filters
